<!--header component-->
<div class="m-2">
    <app-header></app-header>
</div>
<!--header-component end-->

<div class="row m-2" style="font-family: Verdana, Arial, Helvetica, sans-serif;">
  
    <!--Display Options Component-->
    <div class="col m-2">
        <app-display-options></app-display-options>
    </div>
    <!--Display component end-->

    <!--Details Component-->
    <div class="col m-2">
        <app-display-employee-details></app-display-employee-details>
    </div>
    <!--Details Component end-->

</div>
